*{
    padding:0;
    margin:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    outline:2px dashed blue;
}


html, body {
    height: 100vh;
    /* overflow: hidden; Temporarily */
}


ul{
    display:grid;
    align-items: end;
}

.main-container{
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows:1fr;
    height:100vh;
    /* remove this */
    /* overflow: hidden; */
    }

/* sidebar left */
.sidebar-left{
    background-color: aqua;
    padding:16px;
    grid-column: 1;
    color: azure;

    display:flex;
    flex-direction: column;

    /* display:grid;
    grid-template-rows: 1fr 3fr 1fr 1.5fr 4fr;
    grid-template-areas: 
    "logo"
   "options"
    "."
    "utils"
    ; */
    gap:12px;
    height:100%;
}

.logo{
    display:grid;
    grid-area: logo;
    grid-template-columns: 1fr 6fr;
    text-align: start;
    align-items: center;
}
.logo h1{
    display:flex;
    padding-top: 6px;
}
.logosvg{
    
    height:40px;
}
.options{
    grid-area:options;
}
.utils{
    grid-area:utils;
}

/* Second Main Container */
.content-container{
    display:grid;
    grid-column: 2;
    grid-template-rows: 1fr 4fr ;
    grid-template-columns: 3fr 1fr;
    background-color: black;
    height:100%;

}

/* header */

.header{
    background-color: burlywood;
    display:grid;
    grid-template-rows: 1fr 2fr;
    grid-column: 1/3;
    grid-row: 1;
}
.header-top{
    display:grid;
    grid-template-columns: 4fr 2fr;
}
.header-bottom{
display:grid;
grid-template-columns: 1fr 5fr 1fr 1fr 1fr ;
}
.notifications{
display:grid;
}



/* Content Div */
.project-section{

    display:grid;
    grid-row:1fr;
    grid-template-rows: 1fr 9fr;
}


li{
    display:flex;
    flex-direction: row;
    align-items: end;
    justify-content: flex-start;
    gap:16px;
    font-size: 24px;
    font-weight: 600;
}
.icon{
    height:32px;
    color:azure;
    fill:currentColor;
}


.project-header{
    grid-column: 1/2;
    background-color: lightgrey;

    font-size: 32px;
    font-weight: 700;
    padding: 16px;

    display:grid;
    align-items: flex-end;

}
.project-card-grid{
    background-color: blueviolet;
    grid-column: 1/2;
    grid-row: 2/3;
    gap:16px;
    display:grid;
    width:100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding:16px 16px 3rem 16px;

}
.project-card{
    /* make responsive using clamp/minmax */
    /* width: clamp(100px 1fr 200px); */
    background-color: beige;
    border-radius: 16px;
    border-left: 10px solid orangered;
    height:100px
}


/* sidebar right */
.sidebar-right{
    display:grid;
    background-color: aquamarine;
    grid-column: 2/3;
    grid-row: 2/3;
    grid-template-rows:1fr 9fr ;
}

.announcements-title{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-row: 1/2;
    background-color: rgb(206, 128, 202);
    padding:16px
}
.sidebar-right-content{
    grid-row: 2/3;
    display:grid;
    grid-template-rows: 3fr 1fr 3fr;
    padding:16px
}
.announcements-div{
    background-color: antiquewhite;
    padding:8px;
    border-radius: 6px;
    display:flex;
    flex-direction: column;    
}
.announcement{
    border-bottom: 4px solid black;
}
.bottom{
    border:none;
}