*{
    padding:0;
    margin:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

ul{
    display:grid;
    align-items: end;
}

.main-container{
    display:grid;
    height:100vh;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto;
}

.header{
    background-color: burlywood;
    grid-column: 2/6;
    display:grid;
    grid-template-rows: 1fr 2fr;
}
.header-top{
    display:grid;
    grid-template-columns: 4fr 2fr;
}
.header-bottom{
display:grid;
grid-template-columns: 1fr 5fr 1fr 1fr 1fr  ;
}
.notifications{
display:grid;
}

.sidebar-left{
    background-color: aqua;
    padding:16px;
    grid-row: 1/9;
    color: azure;

    display:grid;
    grid-template-rows: 1fr 3fr 1fr 1.5fr 4fr;
    grid-template-areas: 
    "logo"
   "options"
    "."
    "utils"
    ;
    gap:12px
}

.logo{
    display:grid;
    grid-area: logo;
    grid-template-columns: 1fr 6fr;
    text-align: start;
    align-items: center;
}
.logo h1{
    display:flex;
    padding-top: 6px;
}
.logosvg{
    
    height:40px;
}
.options{
    grid-area:options;
}
.utils{
    grid-area:utils;
}

/* Second Main Container */
.second-main-container{
    display:grid;
    grid-column: 2/3;
    grid-template-rows: 1fr 6fr ;
    height:100%;
    /* background-color: black; */
}

.header{
    background-color: burlywood;
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-column: 1/-1;
}
.header-top{
    display:grid;
    grid-template-columns: 4fr 2fr;
}
.header-bottom{
display:grid;
grid-template-columns: 1fr 5fr 1fr 1fr 1fr  ;
}
.notifications{
display:grid;
}

/* Content Div */
.content-div{
    display:grid;
    grid-row: 2/3;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 8fr;
    height:100%;
}
.sidebar-right{
    background-color: aquamarine;
    grid-column: 2/3;
    grid-row: 2/3;
}

li{
    display:flex;
    flex-direction: row;
    align-items: end;
    justify-content: flex-start;
    gap:16px;
    font-size: 24px;
    font-weight: 600;
}
.icon{
    height:32px;
    color:azure;
    fill:currentColor;
}


.project-header{
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: lightgrey;

    font-size: 32px;
    font-weight: 700;

    display:grid;
    align-items: center;

}
.project-card-grid{
    background-color: blueviolet;
    grid-column: 1/2;
    grid-row: 2/3;
    gap:16px;
    display:grid;
    grid:1fr 1fr 1fr/ 1fr 1fr;
    padding:16px 16px 3rem 16px;

}
.project-card{
    /* make responsive using clamp/minmax */
    /* width: clamp(100px 1fr 200px); */
    background-color: beige;
    border-radius: 16px;
    border-left: 10px solid orangered;
}

.announcements{
    grid-column: 2/3;
    grid-row: 1/3;
    background-color: rgb(206, 128, 202);
}